/* General page styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #003464cb;
  /* Light gray background */
}
h1 {
  text-align: center;
  margin: 12px;
}
.main-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  margin: 0 auto;
}
/* Main container styles */
.container {
  width: 100%;
  max-width: 500px;
  background-color: rgb(90, 125, 153);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
h3 {
  text-align: center;
  font-size: 1.6em;
}
.custom-wrapper {
  display: flex;
  padding-top: 75px;
  flex-direction: column;
}

.custom-button-wrapper {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
}

/* Button container styles */
.button-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

/* Dropdown styles */
.select-token {
  width: 100%;
  padding: 0.5rem 1rem;
  /* px-4 py-2 */
  margin-top: 0.5rem;
  /* mt-2 */
  border: 1px solid #cbd5e0;
  /* border */
  border-radius: 0.375rem;
  /* rounded-md */
  color: #4a5568;
  /* text-gray-700 */
  font-size: 1rem;
  transition: all 0.2s ease;
}

.select-token:focus {
  outline: none;
  /* focus:ring-blue-500 */
  border-color: #3182ce;
  /* focus:ring-2 */
}

/* Error message styles */
.error-message {
  margin-top: 0.5rem;
  color: #f56565;
  /* text-red-500 */
  font-size: 0.875rem;
}

/* Button styles */
.button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:disabled {
  background-color: #e2e8f0;
  /* Disabled button color */
  cursor: not-allowed;
}

/* Pay Native Button Styles */
.pay-native {
  background-color: #3182ce;
  color: rgb(51, 51, 51);
}

.pay-native:not(:disabled):hover {
  background-color: #2b6cb0;
  /* Darker blue on hover */
}

/* Pay ERC20 Button Styles */
.pay-erc20 {
  background-color: #38a169;
  color: rgb(51, 51, 51);
}

.pay-erc20:not(:disabled):hover {
  background-color: #2f855a;
  /* Darker green on hover */
}

/* Responsive Styles */
@media (max-width: 640px) {
  .button-container {
    flex-direction: column;
    gap: 1rem;
  }

  button {
    width: 100%;
  }
}